In [13]:
import pandas as pd
df=pd.read_csv('IPL 2008-2022 data/all_season_batting_card.csv')

In [14]:
df

,season,match_id,match_name,home_team,away_team,venue,city,country,current_innings,innings_id,...,fours,sixes,strikeRate,captain,isNotOut,runningScore,runningOver,shortText,commentary,link
0,2022,1304047,CSK v KKR,CSK,KKR,"Wankhede Stadium, Mumbai",Mumbai,India,CSK,1,...,0.0,0.0,0.00,False,False,"{'wickets': 1, 'runs': 2}",0.3,c Rana b Yadav,<b> edged and taken at slip! </b> Uncharacteri...,NaN
1,2022,1304047,CSK v KKR,CSK,KKR,"Wankhede Stadium, Mumbai",Mumbai,India,CSK,1,...,0.0,0.0,37.50,False,False,"{'wickets': 2, 'runs': 28}",4.1,c SS Iyer b Yadav,chipped straight to mid-on. Conway's debut isn...,NaN
2,2022,1304047,CSK v KKR,CSK,KKR,"Wankhede Stadium, Mumbai",Mumbai,India,CSK,1,...,2.0,2.0,133.33,False,False,"{'wickets': 3, 'runs': 49}",7.5,st &dagger;Jackson b Varun,<strong>lightning quick work from Jackson and ...,NaN
3,2022,1304047,CSK v KKR,CSK,KKR,"Wankhede Stadium, Mumbai",Mumbai,India,CSK,1,...,1.0,1.0,88.23,False,False,"{'wickets': 4, 'runs': 52}",8.4,run out (SS Iyer/Narine),what is happening! <strong>Rayudu left high an...,NaN
4,2022,1304047,CSK v KKR,CSK,KKR,"Wankhede Stadium, Mumbai",Mumbai,India,CSK,1,...,0.0,1.0,92.85,True,True,{},NaN,not out,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14534,2008,336040,CSK v RR,CSK,RR,"Dr DY Patil Sports Academy, Mumbai",Mumbai,India,RR,2,...,3.0,4.0,143.58,False,False,"{'wickets': 7, 'runs': 143}",17.4,run out (Raina),Raina you beauty! A direct hit runs out Yusuf!...,NaN
14535,2008,336040,CSK v RR,CSK,RR,"Dr DY Patil Sports Academy, Mumbai",Mumbai,India,RR,2,...,0.0,1.0,133.33,False,False,"{'wickets': 5, 'runs': 139}",16.6,c Dhoni b Muralitharan,caught! Another twist! Kaif steps out of his c...,NaN
14536,2008,336040,CSK v RR,CSK,RR,"Dr DY Patil Sports Academy, Mumbai",Mumbai,India,RR,2,...,0.0,0.0,0.00,False,False,"{'wickets': 6, 'runs': 139}",17.1,c Kapugedera b Morkel,what has he done? Jadeja backs away towards le...,NaN
14537,2008,336040,CSK v RR,CSK,RR,"Dr DY Patil Sports Academy, Mumbai",Mumbai,India,RR,2,...,1.0,0.0,100.00,True,True,{},NaN,not out,NaN,NaN
14538,2008,336040,CSK v RR,CSK,RR,"Dr DY Patil Sports Academy, Mumbai",Mumbai,India,RR,2,...,0.0,0.0,128.57,False,True,{},NaN,not out,NaN,NaN

In [15]:
import numpy as np

df['Matches']=np.where(df['ballsFaced']>0,1,np.where((df['ballsFaced']==0) & (df['isNotOut']==False),1,0))

In [16]:
df.loc[df['ballsFaced']==0,['runs','ballsFaced','isNotOut','Matches']]

       runs  ballsFaced isNotOut  Matches
332     0.0         0.0     True        0
408     0.0         0.0     True        0
433     0.0         0.0     True        0
456     0.0         0.0     True        0
465     0.0         0.0    False        1
...     ...         ...      ...      ...
14389   0.0         0.0    False        1
14404   0.0         0.0    False        1
14407   0.0         0.0     True        0
14471   0.0         0.0     True        0
14497   0.0         0.0     True        0

[307 rows x 4 columns]

In [17]:

df['out']=np.where(df['isNotOut']==False,1,0)

In [18]:
df['Fifties']=np.where((df['runs']>=50)&(df['runs']<=99),1,0)
df['Hundreds']=np.where(df['runs']>=100,1,0)

In [19]:
batting_stats=df.groupby(['fullName','season'])['runs','ballsFaced','out','Matches','fours','sixes','Fifties','Hundreds'].sum().reset_index()
batting_stats

/var/folders/hq/f_rzh7j51m1ddfp3xw6s1qsr0000gn/T/ipykernel_33729/1593214610.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  batting_stats=df.groupby(['fullName','season'])['runs','ballsFaced','out','Matches','fours','sixes','Fifties','Hundreds'].sum().reset_index()

,fullName,season,runs,ballsFaced,out,Matches,fours,sixes,Fifties,Hundreds
0,AB de Villiers,2008,95.0,98.0,5,6,5.0,1.0,0,0
1,AB de Villiers,2009,465.0,355.0,9,13,39.0,12.0,3,1
2,AB de Villiers,2010,111.0,119.0,7,7,7.0,0.0,0,0
3,AB de Villiers,2011,312.0,243.0,9,13,21.0,14.0,2,0
4,AB de Villiers,2012,319.0,198.0,8,13,26.0,15.0,3,0
...,...,...,...,...,...,...,...,...,...,...
2294,Zaheer Khan,2011,21.0,24.0,2,2,2.0,0.0,0,0
2295,Zaheer Khan,2012,12.0,17.0,2,4,1.0,0.0,0,0
2296,Zaheer Khan,2014,8.0,7.0,1,3,0.0,1.0,0,0
2297,Zaheer Khan,2016,6.0,13.0,2,2,1.0,0.0,0,0
2298,Zaheer Khan,2017,4.0,13.0,1,3,0.0,0.0,0,0

In [20]:
batting_stats['batting_avg']=np.where(batting_stats['out']>0,round(batting_stats['runs']/batting_stats['out'],2),0)

In [21]:
batting_stats['strike_rate']=np.where(batting_stats['ballsFaced']>0,round(100*batting_stats['runs']/batting_stats['ballsFaced'],2),0)
batting_stats['Quality']=round((batting_stats['batting_avg']+batting_stats['strike_rate'])/160,2)
batting_stats['Frequency']=np.where(batting_stats['Matches']>0,round(batting_stats['ballsFaced']/batting_stats['Matches'],2),0)
batting_stats['Batting_Player_Impact']=round(batting_stats['Quality']*batting_stats['Frequency'],2)
batting_stats['100_Factor']=np.where(batting_stats['Matches']>0,round(batting_stats['Hundreds']/batting_stats['Matches'],2),0)
batting_stats['50_Factor']=np.where(batting_stats['Matches']>0,round(batting_stats['Fifties']/batting_stats['Matches'],2),0)
batting_stats['Batting_Impact_Score']=round(batting_stats['Batting_Player_Impact']+(batting_stats['Batting_Player_Impact']*batting_stats['100_Factor'])+(batting_stats['Batting_Player_Impact']*batting_stats['50_Factor']/2),2)
batting_stats

,fullName,season,runs,ballsFaced,out,Matches,fours,sixes,Fifties,Hundreds,batting_avg,strike_rate,Quality,Frequency,Batting_Player_Impact,100_Factor,50_Factor,Batting_Impact_Score
0,AB de Villiers,2008,95.0,98.0,5,6,5.0,1.0,0,0,19.00,96.94,0.72,16.33,11.76,0.00,0.00,11.76
1,AB de Villiers,2009,465.0,355.0,9,13,39.0,12.0,3,1,51.67,130.99,1.14,27.31,31.13,0.08,0.23,37.20
2,AB de Villiers,2010,111.0,119.0,7,7,7.0,0.0,0,0,15.86,93.28,0.68,17.00,11.56,0.00,0.00,11.56
3,AB de Villiers,2011,312.0,243.0,9,13,21.0,14.0,2,0,34.67,128.40,1.02,18.69,19.06,0.00,0.15,20.49
4,AB de Villiers,2012,319.0,198.0,8,13,26.0,15.0,3,0,39.88,161.11,1.26,15.23,19.19,0.00,0.23,21.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2294,Zaheer Khan,2011,21.0,24.0,2,2,2.0,0.0,0,0,10.50,87.50,0.61,12.00,7.32,0.00,0.00,7.32
2295,Zaheer Khan,2012,12.0,17.0,2,4,1.0,0.0,0,0,6.00,70.59,0.48,4.25,2.04,0.00,0.00,2.04
2296,Zaheer Khan,2014,8.0,7.0,1,3,0.0,1.0,0,0,8.00,114.29,0.76,2.33,1.77,0.00,0.00,1.77
2297,Zaheer Khan,2016,6.0,13.0,2,2,1.0,0.0,0,0,3.00,46.15,0.31,6.50,2.02,0.00,0.00,2.02
2298,Zaheer Khan,2017,4.0,13.0,1,3,0.0,0.0,0,0,4.00,30.77,0.22,4.33,0.95,0.00,0.00,0.95

In [22]:
batting_stats.rename(columns={'strike_rate':'Batting_strike_rate','Quality':'Batting_Quality','Frequency':'Batting_Frequency'},inplace=True)

In [23]:
batting_stats

,fullName,season,runs,ballsFaced,out,Matches,fours,sixes,Fifties,Hundreds,batting_avg,Batting_strike_rate,Batting_Quality,Batting_Frequency,Batting_Player_Impact,100_Factor,50_Factor,Batting_Impact_Score
0,AB de Villiers,2008,95.0,98.0,5,6,5.0,1.0,0,0,19.00,96.94,0.72,16.33,11.76,0.00,0.00,11.76
1,AB de Villiers,2009,465.0,355.0,9,13,39.0,12.0,3,1,51.67,130.99,1.14,27.31,31.13,0.08,0.23,37.20
2,AB de Villiers,2010,111.0,119.0,7,7,7.0,0.0,0,0,15.86,93.28,0.68,17.00,11.56,0.00,0.00,11.56
3,AB de Villiers,2011,312.0,243.0,9,13,21.0,14.0,2,0,34.67,128.40,1.02,18.69,19.06,0.00,0.15,20.49
4,AB de Villiers,2012,319.0,198.0,8,13,26.0,15.0,3,0,39.88,161.11,1.26,15.23,19.19,0.00,0.23,21.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2294,Zaheer Khan,2011,21.0,24.0,2,2,2.0,0.0,0,0,10.50,87.50,0.61,12.00,7.32,0.00,0.00,7.32
2295,Zaheer Khan,2012,12.0,17.0,2,4,1.0,0.0,0,0,6.00,70.59,0.48,4.25,2.04,0.00,0.00,2.04
2296,Zaheer Khan,2014,8.0,7.0,1,3,0.0,1.0,0,0,8.00,114.29,0.76,2.33,1.77,0.00,0.00,1.77
2297,Zaheer Khan,2016,6.0,13.0,2,2,1.0,0.0,0,0,3.00,46.15,0.31,6.50,2.02,0.00,0.00,2.02
2298,Zaheer Khan,2017,4.0,13.0,1,3,0.0,0.0,0,0,4.00,30.77,0.22,4.33,0.95,0.00,0.00,0.95

In [24]:
batting_stats.to_csv('Batting_Features_IPL.csv',index=False)